<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="viewmodels/EconomyClass.view"/>

<file filePath="viewmodels/SimulationResult.view"/>

<file filePath="viewmodels/SimulationProperties.view"/>

<file filePath="viewmodels/Row.view"/>

<file filePath="viewmodels/TravelClass.view"/>

<file filePath="viewmodels/StandardDoor.view"/>

<file filePath="viewmodels/EmergencyExit.view"/>

<file filePath="viewmodels/MainDoor.view"/>

<file filePath="viewmodels/FirstClass.view"/>

<file filePath="viewmodels/BusinessClass.view"/>

<file filePath="viewmodels/PremiumEconomyClass.view"/>

<file filePath="viewmodels/EconomyClass.view"/>

<file filePath="viewmodels/TravelClass.view"/>

<file filePath="viewmodels/Seat.view"/>

<file filePath="viewmodels/Lavatory.view"/>

<file filePath="viewmodels/Galley.view"/>

<file filePath="viewmodels/Curtain.view"/>

<file filePath="viewmodels/Passenger.view"/>

<file filePath="viewmodels/Cabin.view"/>

   </extension>

<extension point="org.eclipse.emf.ecp.view.template">
<viewTemplate xmi="viewmodels/new_file.template"/>
</extension>
</plugin>
