<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="paxelerateProduct"
         point="org.eclipse.core.runtime.products">
      <product
      		name="PAXelerate"
            application="net.bhl.cdt.client.application">
         <property
               name="appName"
               value="PAXelerate">
         </property>
         <property
               name="aboutImage"
               value="/net.bhl.cdt.paxelerate.ui/images/about.png">
         </property>
         <property
               name="aboutText"
               value="PAXelerate.com (c) Bauhaus Luftfahrt e.V. 2014 - 2016">
         </property>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.bhl.cdt.paxelerate.ui.categoryPAXelerate"
            class="net.bhl.cdt.paxelerate.ui.views.CabinViewPart"
            icon="images/icons/cabin.png"
            id="net.bhl.cdt.paxelerate.ui.views.cabinview"
            name="Cabin Layout"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="net.bhl.cdt.paxelerate.ui.categoryPAXelerate"
            class="net.bhl.cdt.paxelerate.ui.views.PropertyViewPart"
            icon="images/icons/passenger.png"
            id="net.bhl.cdt.paxelerate.ui.propertyview"
            name="Passenger Properties"
            restorable="true">
      </view>
      <view
      		allowMultiple="false"
            category="net.bhl.cdt.paxelerate.ui.categoryPAXelerate"
            class="net.bhl.cdt.paxelerate.ui.views.PotentialViewPart"
            icon="images/icons/cabin.png"
            id="net.bhl.cdt.paxelerate.ui.gradient"
            name="Potential Gradient"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="net.bhl.cdt.paxelerate.ui.categoryPAXelerate"
            class="net.bhl.cdt.paxelerate.ui.views.HeatmapPart"
            icon="images/icons/cabin.png"
            id="net.bhl.cdt.paxelerate.ui.heatmap"
            name="HeatMap"
            restorable="true">
      </view>
      <category
            id="net.bhl.cdt.paxelerate.ui.categoryPAXelerate"
            name="PAXelerate">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bhl.cdt.paxelerate.ui.perspective.PerspectiveFactory"
            id="net.bhl.cdt.paxelerate.ui.perspective.paxelerate"
            name="Paxelerate Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.SimulateBoardingHandler"
            id="net.bhl.cdt.paxelerate.ui.simulateBoarding"
            name="Simulate Boarding">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.GenerateCabinHandler"
            id="net.bhl.cdt.paxelerate.ui.generateCabin"
            name="Generate New Cabin">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.DrawCabinHandler"
            id="net.bhl.cdt.paxelerate.ui.drawCabin"
            name="Refresh Cabin View">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.GeneratePassengersHandler"
            id="net.bhl.cdt.paxelerate.ui.generatePassengers"
            name="Generate Passengers">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.MoveObjectHandler"
            id="net.bhl.cdt.paxelerate.ui.moveObject"
            name="Move Object">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.SortPassengersHandler"
            id="net.bhl.cdt.paxelerate.ui.sortPassengers"
            name="Sort Passengers">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.CloneObjectHandler"
            id="net.bhl.cdt.paxelerate.ui.cloneObject"
            name="Clone Object">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.ExportDataHandler"
            id="net.bhl.cdt.paxelerate.ui.exportData"
            name="Export Data">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.RunBatchSimulationHandler"
            id="net.bhl.cdt.paxelerate.ui.runBatchSimulationMenu"
            name="Run Batch Simulation Menu">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.SanghunHandler"
            id="net.bhl.cdt.paxelerate.core.ui.sanghuncommand"
            name="Sanghun">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="net.bhl.cdt.paxelerate.ui.generateCabin"
               icon="images/icons/cabin.png"
               label="1. Generate New Cabin"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.generatePassengers"
               icon="images/icons/passenger.png"
               label="2. Generate Passengers"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.simulateBoarding"
               icon="images/icons/simulate.png"
               label="3. Simulate Boarding"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="net.bhl.cdt.paxelerate.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.drawCabin"
               icon="images/icons/refresh.png"
               label="Refresh Cabin View"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.moveObject"
               icon="images/icons/reposition.png"
               label="Reposition Object ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <instanceof
                           value="net.bhl.cdt.paxelerate.model.PhysicalObject">
                     </instanceof>
                     <instanceof
                           value="net.bhl.cdt.paxelerate.model.Row">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.cloneObject"
               icon="images/icons/clone.png"
               label="Clone Object ... "
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Row">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.sortPassengers"
               icon="images/icons/sort.png"
               label="Sort Passengers ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <instanceof
                           value="net.bhl.cdt.paxelerate.model.Cabin">
                     </instanceof>
                     <instanceof
                           value="net.bhl.cdt.paxelerate.model.Passenger">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="net.bhl.cdt.paxelerate.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="net.bhl.cdt.paxelerate.core.ui.sanghuncommand"
               label="Sanghun"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Menu">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="images/icons/monitor.png"
                  label="Show Views"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="images/icons/preferences.png"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About PAXelerate"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.runBatchSimulationMenu"
               label="Run Batch Simulation"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="net.bhl.cdt.paxelerate.ui.views.CabinOpener">
         <staticTester
               modelElement="net.bhl.cdt.paxelerate.model.Cabin"
               priority="2">
         </staticTester>
      </modelElementOpener>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.core.filters">
      <FilterProvider
            class="net.bhl.cdt.paxelerate.ui.DefaultFilterProvider">
      </FilterProvider>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="net.bhl.cdt.paxelerate.ui.intro"
            productId="net.bhl.cdt.paxelerate.core.paxelerateProduct">
      </introProductBinding>
      <intro
            class="net.bhl.cdt.paxelerate.ui.WelcomePage"
            id="net.bhl.cdt.paxelerate.ui.intro"
            label="PAXelerate Welcome Page">
      </intro>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="net.bhl.cdt.paxelerate.ui.scheme"
            name="PAXelerateScheme">
      </scheme>
      <key
            commandId="net.bhl.cdt.paxelerate.ui.generatePassengers"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.bhl.cdt.paxelerate.ui.scheme"
            sequence="M1+P">
      </key>
      <key
            commandId="net.bhl.cdt.paxelerate.ui.drawCabin"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.bhl.cdt.paxelerate.ui.scheme"
            sequence="M1+R">
      </key>
      <key
            commandId="net.bhl.cdt.paxelerate.ui.generateCabin"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.bhl.cdt.paxelerate.ui.scheme"
            sequence="M1+G">
      </key>
      <key
            commandId="net.bhl.cdt.paxelerate.ui.simulateBoarding"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.bhl.cdt.paxelerate.ui.scheme"
            sequence="M1+L">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bhl.cdt.client.application"
            name="PAXelerate">
         <property
               name="aboutText"
               value="PAXelerate.com (c) Bauhaus Luftfahrt e.V. 2014 - 2016">
         </property>
         <property
               name="aboutImage"
               value="/net.bhl.cdt.paxelerate.ui/images/about.png">
         </property>
         <property
               name="appName"
               value="PAXelerate">
         </property>
      </product>
   </extension>
</plugin>
