<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://www.example.org/model"
            class="com.paxelerate.model.ModelPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://com.paxelerate.core.model/agent/"
            class="com.paxelerate.model.agent.AgentPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://com.paxelerate.core.model/settings/"
            class="com.paxelerate.model.settings.SettingsPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://com.paxelerate.core.model/monuments/"
            class="com.paxelerate.model.monuments.MonumentsPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://com.paxelerate.core.model/enums/"
            class="com.paxelerate.model.enums.EnumsPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
