<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="paxelerateProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bhl.cdt.client.application"
            name="Paxelerate">
         <property
               name="appName"
               value="Paxelerate">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/net.bhl.cdt.paxelerate.ui/images/about.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.core.filters">
      <FilterProvider
            class="net.bhl.cdt.paxelerate.ui.PAXDefaultFilterProvider">
      </FilterProvider>
   </extension>

</plugin>
