<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cabin -->
      <package
            uri="http://bhl.net/cdt/model/cabin/"
            class="net.bhl.cdt.model.cabin.CabinPackage"
            genModel="model/cabin.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.SimulateBoardingHandler"
            id="net.bhl.cdt.model.cabin.simulateBoarding"
            name="Simulate Boarding">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.GenerateCabinHandler"
            id="net.bhl.cdt.model.cabin.generatecabin"
            name="Generate Cabin">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.DrawCabinHandler"
            id="net.bhl.cdt.model.cabin.DrawCabin"
            name="Refresh Cabin View">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.GeneratePassengersHandler"
            id="net.bhl.cdt.model.cabin.GeneratePassengers"
            name="Generate Passengers">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.FloodCabinHandler"
            id="net.bhl.cdt.model.cabin.FloodCabin"
            name="Cabin Flood Demo">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.MoveRowHandler"
            id="net.bhl.cdt.model.cabin.MoveRow"
            name="Move Object">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.AboutViewHandler"
            id="net.bhl.cdt.model.cabin.AboutView"
            name="Show About View">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.SortPassengersHandler"
            id="net.bhl.cdt.model.cabin.sortPassengers"
            name="Sort Passengers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="net.bhl.cdt.model.cabin.simulateBoarding"
               label="Simulate Boarding of this Cabin"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.generatecabin"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.DrawCabin"
               label="Refresh Cabin View"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.GeneratePassengers"
               label="Generate Passengers"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.FloodCabin"
               label="Run Flooding Demo"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.MoveRow"
               label="Reposition ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <instanceof
                           value="net.bhl.cdt.model.cabin.PhysicalObject">
                     </instanceof>
                     <instanceof
                           value="net.bhl.cdt.model.cabin.Row">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.sortPassengers"
               label="Sort Passengers ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <instanceof
                           value="net.bhl.cdt.model.cabin.Cabin">
                     </instanceof>
                     <instanceof
                           value="net.bhl.cdt.model.cabin.Passenger">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.bhl.cdt.model.cabin.ui.CabinViewPart"
            icon="images/Cabin.gif"
            id="net.bhl.cdt.model.cabin.cabinview"
            name="Cabin View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="net.bhl.cdt.model.cabin.ui.InfoViewPart"
            icon="images/Passenger.png"
            id="net.bhl.cdt.model.cabin.infoview"
            name="Info View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="net.bhl.cdt.model.cabin.ui.PropertyViewPart"
            icon="images/Passenger.png"
            id="com.paxelerate.propertyview"
            name="Property View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="net.bhl.cdt.model.cabin.ui.CabinOpener">
         <staticTester
               modelElement="net.bhl.cdt.model.cabin.Cabin"
               priority="2">
         </staticTester>
      </modelElementOpener>
   </extension>
   <extension
         id="paxelerateProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bhl.cdt.client.application"
            name="PAXELERATE">
         <property
               name="appName"
               value="PAXELERATE">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.bhl.cdt.model.cabin.splashHandlers.ExtensibleSplashHandler"
            id="net.bhl.cdt.model.cabin.splashHandlers.extensible">
      </splashHandler>
      <splashHandler
            class="net.bhl.cdt.model.cabin.splashHandlers.BrowserSplashHandler"
            id="net.bhl.cdt.model.cabin.splashHandlers.browser">
      </splashHandler>
   </extension>
   <extension
         point="net.bhl.cdt.model.cabin.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
   

</plugin>
