<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cabin -->
      <package
            uri="http://bhl.net/cdt/model/cabin/"
            class="net.bhl.cdt.model.cabin.CabinPackage"
            genModel="model/cabin.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.SimulateBoardingHandler"
            id="net.bhl.cdt.model.cabin.simulateBoarding"
            name="Simulate Boarding">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.GenerateCabinHandler"
            id="net.bhl.cdt.model.cabin.generatecabin"
            name="Generate Cabin">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.DrawCabinHandler"
            id="net.bhl.cdt.model.cabin.DrawCabin"
            name="Refresh Cabin View">
      </command>
      <command
            defaultHandler="net.bhl.cdt.model.cabin.handlers.GeneratePassengersHandler"
            id="net.bhl.cdt.model.cabin.GeneratePassengers"
            name="Generate Passengers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="net.bhl.cdt.model.cabin.simulateBoarding"
               label="Simulate Boarding of this Cabin"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.generatecabin"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.DrawCabin"
               label="Refresh Cabin View"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.model.cabin.GeneratePassengers"
               label="Generate Passengers"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.model.cabin.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.bhl.cdt.model.cabin.ui.CabinViewPart"
            id="net.bhl.cdt.model.cabin.cabinview"
            name="Cabin View"
            restorable="true">
      </view>
      <view
            class="net.bhl.cdt.model.cabin.ui.ConsoleViewPart"
            id="net.bhl.cdt.model.cabin.consoleview"
            name="Console View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="net.bhl.cdt.model.cabin.ui.CabinOpener">
         <staticTester
               modelElement="net.bhl.cdt.model.cabin.Cabin"
               priority="2">
         </staticTester>
      </modelElementOpener>
   </extension>

</plugin>
