<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cabin -->
      <package
            uri="http://bhl.net/cdt/model/cabin"
            class="net.bhl.cdt.paxelerate.model.CabinPackage"
            genModel="model/cabin.genmodel"/>
   </extension>

</plugin>
