<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cabin -->
      <package
            uri="http://paxelerate.com/"
            class="com.paxelerate.model.CabinPackage"
            genModel="model/cabin.genmodel"/>
   </extension>
   <extension
         id="paxelerate_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.bhl.cdt.client.application"
            name="PAXelerate">
      </product>
   </extension>

</plugin>
