---
---

// Header background
$header-bg-color: #0a3a5a;
$header-bg-color-secondary: #6ab9ec;

// Heading color
$section-headings-color: #d7801c;

@import "{{ site.theme }}";

table, th, tr, td{
  border: none !important;
}

td {
  width:50% !important;
}

p {
  text-align: justify !important;
}
