---
---

// Header background
$header-bg-color: #0a3a5a;
$header-bg-color-secondary: #6ab9ec;

// Heading color
$section-headings-color: #d7801c;

@import "{{ site.theme }}";

h1, h2, h3 {
  text-align: center;
}

table, th, tr, td{
  border: none !important;
}

table {
  margin:auto;
}
