<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="viewmodels/Door.view"/>

<file filePath="viewmodels/TravelClass.view"/>

<file filePath="viewmodels/Cabin.view"/>

<file filePath="viewmodels/Seat.view"/>

<file filePath="viewmodels/Row.view"/>

<file filePath="viewmodels/Passenger.view"/>

<file filePath="viewmodels/Lavatory.view"/>

<file filePath="viewmodels/Galley.view"/>

<file filePath="viewmodels/Curtain.view"/>

<file filePath="viewmodels/SimulationProperties.view"/>

<file filePath="viewmodels/PassengerProperties.view"/>

<file filePath="viewmodels/LuggageProperties.view"/>

<file filePath="viewmodels/SimulationResult.view"/>

   </extension>
</plugin>
