<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated paxelerateTS -->
      <package
            uri="paxelerate"
            class="paxelerate.PaxeleratePackage"
            genModel="model/paxelerateTS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated paxelerateTS -->
      <parser
            type="paxelerate"
            class="paxelerate.util.PaxelerateResourceFactoryImpl"/>
   </extension>
</plugin>
