<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.bhl.cdt.model.cabin.ui.CabinPreferencePage"
            id="net.bhl.cdt.model.cabin.preference"
            name="Cabin">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bhl.cdt.model.cabin.ui.CabinViewInitializer">
      </initializer>
   </extension>
</plugin>
