<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.paxelerate.ui.util.CabinPreferencePage"
            id="net.bhl.cdt.model.cabin.preference"
            name="Cabin">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.paxelerate.ui.util.CabinViewInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="net.bhl.cdt.cabin.ui.cheats"
            name="Help Cheats">
      </category>
      <cheatsheet
            category="net.bhl.cdt.cabin.ui.cheats"
            composite="false"
            contentFile="src/com/paxelerate/ui/util/CabinRegulationCheats.xml"
            id="net.bhl.cdt.cabin.ui.cheats.cabin"
            name="CS - 25: Cabin Regulation">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Cabin">
            <command
                  commandId="net.bhl.cdt.cabin.ui.command4"
                  label="Generate Cabin"
                  style="push">
            </command>
            <command
                  commandId="net.bhl.cdt.cabin.ui.command5"
                  label="Generate Passengers"
                  style="push">
            </command>
            <command
                  commandId="net.bhl.cdt.cabin.ui.command6"
                  label="Run Simulation"
                  style="push">
            </command>
            <separator
                  name="net.bhl.cdt.cabin.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="net.bhl.cdt.model.cabin.DrawCabin"
                  label="Refresh Cabin View"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="net.bhl.cdt.cabin.ui.command3"
                  label="Help"
                  style="push">
            </command>
            <command
                  commandId="net.bhl.cdt.model.cabin.AboutView"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
