<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.bhl.cdt.paxelerate.ui.views.CabinViewPart"
            icon="images/icons/cabin.png"
            id="net.bhl.cdt.paxelerate.ui.views.cabinview"
            name="Cabin Layout"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="net.bhl.cdt.paxelerate.ui.views.PropertyViewPart"
            icon="images/icons/passenger.png"
            id="net.bhl.cdt.paxelerate.ui.propertyview"
            name="Property View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="net.bhl.cdt.paxelerate.ui.views.InfoViewPart"
            icon="images/icons/passenger.png"
            id="net.bhl.cdt.paxelerate.ui.views.infoview"
            name="Info View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bhl.cdt.paxelerate.ui.perspective.PerspectiveFactory"
            id="net.bhl.cdt.paxelerate.ui.perspective.paxelerate"
            name="Paxelerate Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.SimulateBoardingHandler"
            id="net.bhl.cdt.paxelerate.ui.simulateBoarding"
            name="Simulate Boarding">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.GenerateCabinHandler"
            id="net.bhl.cdt.paxelerate.ui.generateCabin"
            name="Generate Cabin">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.DrawCabinHandler"
            id="net.bhl.cdt.paxelerate.ui.drawCabin"
            name="Refresh Cabin View">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.GeneratePassengersHandler"
            id="net.bhl.cdt.paxelerate.ui.generatePassengers"
            name="Generate Passengers">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.MoveObjectHandler"
            id="net.bhl.cdt.paxelerate.ui.moveObject"
            name="Move Object">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.SortPassengersHandler"
            id="net.bhl.cdt.paxelerate.ui.sortPassengers"
            name="Sort Passengers">
      </command>
      <command
            defaultHandler="net.bhl.cdt.paxelerate.ui.handlers.CloneObjectHandler"
            id="net.bhl.cdt.paxelerate.ui.cloneObject"
            name="Clone Object">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="net.bhl.cdt.paxelerate.ui.generateCabin"
               label="1. Generate Cabin"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.generatePassengers"
               label="2. Generate Passengers"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.simulateBoarding"
               label="3. Simulate Boarding"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="net.bhl.cdt.paxelerate.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.drawCabin"
               label="Refresh Cabin View"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Cabin">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.moveObject"
               label="Reposition Object ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <instanceof
                           value="net.bhl.cdt.paxelerate.model.PhysicalObject">
                     </instanceof>
                     <instanceof
                           value="net.bhl.cdt.paxelerate.model.Row">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.cloneObject"
               label="Clone Object ... "
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="net.bhl.cdt.paxelerate.model.Row">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.bhl.cdt.paxelerate.ui.sortPassengers"
               label="Sort Passengers ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <instanceof
                           value="net.bhl.cdt.paxelerate.model.Cabin">
                     </instanceof>
                     <instanceof
                           value="net.bhl.cdt.paxelerate.model.Passenger">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="net.bhl.cdt.paxelerate.ui.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="net.bhl.cdt.paxelerate.ui.views.CabinOpener">
         <staticTester
               modelElement="net.bhl.cdt.paxelerate.model.Cabin"
               priority="2">
         </staticTester>
      </modelElementOpener>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.bhl.cdt.paxelerate.ui.splashHandlers.ExtensibleSplashHandler"
            id="net.bhl.cdt.paxelerate.ui.splashHandlers.extensible">
      </splashHandler>
      <splashHandler
            class="net.bhl.cdt.paxelerate.ui.splashHandlers.BrowserSplashHandler"
            id="net.bhl.cdt.paxelerate.ui.splashHandlers.browser">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.core.filters">
      <FilterProvider
            class="net.bhl.cdt.paxelerate.ui.DefaultFilterProvider">
      </FilterProvider>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="net.bhl.cdt.paxelerate.ui.intro"
            productId="net.bhl.cdt.paxelerate.core.paxelerateProduct">
      </introProductBinding>
      <intro
            class="net.bhl.cdt.paxelerate.ui.WelcomePage"
            id="net.bhl.cdt.paxelerate.ui.intro"
            label="PAXelerate Welcome Page">
      </intro>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.bhl.cdt.paxelerate.ui.drawCabin"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.bhl.cdt.paxelerate.ui.scheme"
            sequence="M1+R">
      </key>
      <scheme
            id="net.bhl.cdt.paxelerate.ui.scheme"
            name="PAXelerateScheme">
      </scheme>
   </extension>
</plugin>
